body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-inverse {
    background-color: #83ae2c;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.cart-button {
    width: 100%;
    margin-bottom: 1em;
    height: 5em;
    white-space: normal;
}

.now-playing-block {
    min-height: 7em;
}

.now-playing-row {
    border: 1px solid #83ae2c;
    border-radius: 0.5em;
    vertical-align: middle;
    padding: 0.25em;
    margin-bottom: 0.5em;
}